
.navbar {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background-color: var(--light);
    border-bottom: 2px solid brown;
}

.navbar-inner {
    width: 1200px;
    height: 70px;
    overflow: hidden;
    background-color: var(--light);
}

.navbar-col1 {
    width: 35%;
    float: left;
    height: 90%;
    background-color: goldenrod;
    border-bottom-right-radius: 8px;
}

.navbar-col2 {
   width: 50%;
   margin-left: 2%;
   float: right;
   height: 100%;
}


.navbar-btn {
    width: 30%;
    margin-top: 20px;
    float: left;
    height: 100%;
    font-weight: 900;
    text-align: center;
    font-size: 1.2em;
    color: black;
}

.navbar-btn:hover {
    color:blue;
}
.brand {
    height: 50px;
    width: 50px;
}
