:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --grey: #6b7280;
    --yellow: #e5c223;
    --light: rgba(239, 229, 39, 0.856);
    --pink: #ec4899;
    --purple: #8b5cf6;
    --white: #fff;
}
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}

h2{
    text-align: center;
    font-weight: 900;
}

th {
    margin-left: 3px;

}

.mainColumn {
    width: 100%;
    height: auto;
    margin: 10px 10px 10px auto;
    overflow: hidden;
    background-color: var(--light);
}

.loginCard {
     width: 50%;
     height: 50%;
     margin-top: 10px;
     margin-left: 25%;
     background-color: gold;
     padding: 10px;
     border: 2px solid brown;
     border-radius: 10px;
}

.login {
    margin: 5px 5px 5px 5px;
    border: 2px solid brown;
    border-radius: 10px;
    height: 20px;
    width: 60%;
}

label {
    margin: 1em;
    font-size:x-large;
    font-weight: 700;
}

#login input {
    margin-left: 20%;
}


#login {
    background-color: darkgoldenrod;
    border: 2px solid brown;
    border-radius: 15px;
    margin: 5px 2px 5px 2px;
}

#newPatter {
    width: 80%;
    height: 40%;
    margin-left: 10%;
    border: 2px solid brown;
    padding: 2% 2% 2% 2%;
    background-color: darkgoldenrod;
    border-radius: 10px;
}

#new-topic {
    display:inline-block;
    width: 40%;
    height: 20%;
    border: 2px solid brown;
    border-radius: 8px;
    margin: 2px 5px 3px 5px;
}
#new-textbox {
    display:inline-block;
    width: 55%;
    height: 40%;
    border: 2px solid brown;
    border-radius: 8px;
    margin: auto auto auto auto;
    vertical-align: text-top;
}
#postBtn, #userBtn{
    background-color: var(--purple);
    font-size: 1.25rem;
    height: 35px;
    width: 80px;
    border:solid black;
    border-radius: 10px;
    margin: 5px 5px 5px 10px;
}
#putBtn:hover {
    opacity:60%;
}
#getBtn {
    background-color: var(--purple);
    font-size: auto;
    font-weight: 600;
    height: auto;
    width: 80px;
    border:solid black;
    border-radius: 10px;
}
#getBtn:hover {
    opacity: 60%;
}
#pitterpatter{
    width: 40%;
    height: 20%;
    margin-top: 10px;
    margin-left: 30%;
    background-color: gold;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 10px;

}
h3{
    text-align: center;
    font-size: xx-large;
}

  